# Переменные окружения
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Docker volumes
transmission/
downloads/
watch/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Логи
*.log

# OS
.DS_Store
Thumbs.db
